header{
  background-color:#afc6db;
}
h1{
  text-align:center;
  color:#f9f9f9;
  text-transform:uppercase;
}
h2{
  color:#8799ff;
  text-transform:uppercase;
}
section{
  background-color:#cde4c8;
}
a{
  background-color:#94ff00;
  color:#3c3c3c;
}
img{
  display:none;
}